@font-face {
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/librebaskerville400.woff2") format("woff2"),
         url("./fonts/librebaskerville400.woff") format("woff");
  }

@font-face {
    font-family: "Libre Baskerville";
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/librebaskerville700.woff2") format("woff2"),
         url("./fonts/librebaskerville700.woff") format("woff");
  }


* {
    box-sizing:  border-box;
}
body {
    margin: 0;
    font-family: "Libre Baskerville";
    font-weight: 700;
    background-color: #fefefefe;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    background-color: #ffffff;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #E5E5E5;
}

.header-desc {
margin: 0;
    font-size: 12px;
color: #7D7D7D;
}

.parent-box {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: repeat(7, 200px);
    gap: 40px;
    
    margin: 0 auto;
    padding: 100px 50px;
    background-color: #ffffff ;
}
.child-box {
    padding: 85px 32px 33px 32px;
    position: relative;
}
.item-title {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 6px;
    color: #ffffff;
}
.item-desc {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    opacity: 75.28%;
}
.child-box:first-child {
    padding-top: 114px;
    background-image: url(./images/first.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    padding-top: 285px;
    background-image: url(./images/second.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(3){
    padding-top: 114px;
    background-image: url(./images/third.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(4) {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
    padding-top: 285px;
    background-image: url(./images/four.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(5) {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    padding-top: 285px;
    background-image: url(./images/five.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(6) {
    background-image: url(./images/six.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(7) {
    grid-row: 2 / 5;
    grid-column: 3 / 4;
    padding-top: 485px;
    background-image: url(./images/seven.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(8) {
    background-image: url(./images/eight.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(9) {
    background-image: url(./images/nine.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(10) {
    grid-row: 4 / 7;
    grid-column: 1/2;
    padding-top: 485px;
    background-image: url(./images/ten.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(11) {
    grid-row: 4/6;
    grid-column: 2/3;
    padding-top: 314px;
    background-image: url(./images/eleven.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(12) {
    grid-row: 5/7;
    grid-column: 3/4;
    padding-top: 314px;
    background-image: url(./images/twelve.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(13) {
    grid-row: 5/8;
    grid-column: 4/5;
    padding-top: 514px;
    background-image: url(./images/thirdteen.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(14) {
    background-image: url(./images/fourteen.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(15) {
    grid-row: 6/8;
    padding-top: 314px;
    background-image: url(./images/fiveteen.png);
    background-repeat: no-repeat;
}
.child-box:nth-child(16) {
    background-image: url(./images/eight.png);
}